#all{
    font-size: 64px;
    /* margin-top: 100px !important; */

}
#thestart{
    background-color: rgb(26, 209, 209);
    height: 140vh;
}
#from{
    text-align: center;
    font-size: 32px;
    font-weight: lighter;
}
#downl{
    font-size: 20px;
    

}
.containe{
    width: 95%;
}
.containo{
    width: 70%;
}
#des{
    font-size: 20px;
}
.tdiv p:nth-child(1){
    font-size: 46px;
}
#gee{
    font-size: 20px;
}